
dl {
    /* 这里 因头部固定 给一个margin */
    margin-top: 1.3rem;
}

dl dt {
    background-color: white;
    margin-top: 0.12rem;
    margin-left: 0.12rem;
    margin-right: 0.12rem;
    padding-top: 0.12rem;
    padding-bottom: 0.12rem;
}

dl img {
    margin-right: 0.3rem;
    width: 0.4rem;
    height: 0.4rem;
}

dl strong {
    text-align: center
}

p {
    padding: 0;
    margin: 0;
}

#item_head {
    padding-bottom: 0.16rem;
    padding-top: 0.16rem;
    padding-left: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center
}

#item_car_num {
    margin-top: 0;
    margin-bottom: 0;
}

#item_time {
    font-size: 0.26rem;
    margin-top: 0.02rem;
}

#item_content {
    border: 1px solid #6b6a6a;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    display: flex;
    justify-content: center
}

#item_footer {
    padding-top: 0.2rem;
    display: flex;
    justify-content: center
}

table {
    width: 80%;
    border-right: 1px solid#6b6a6a;
    border-bottom: 1px solid#6b6a6a;
    border-collapse: collapse
}

table td {
    font-size: 0.28rem;
    height: 0.6rem;
    text-align: center;
    border-left: 1px solid#6b6a6a;
    border-top: 1px solid#6b6a6a;
}

#table_head {
    background-color: lightgray;
}

.button {
    font-size: 0.25rem;
    background: red;
    color: white;
    border: 1px solid red;
    border-radius: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    outline-style: none;
    /*去除点击时外部框线*/
}
