
#red_packet_container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

#red_packet {
    position: relative;
    display: flex;
    border-radius: 10px;
    height: 7.337rem;
    width: 5.625rem;
    justify-content: center;
    background-image: url('file:///android_asset/img/bg_red_packet.jpg');
    background-position: center;
    background-size: cover;
    /* 将背景图片等比缩放填满整个容器 */
}

#delete_contaier {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    width: 0.5rem;
    height: 0.5rem;
}

#delete_img {
    width: 0.36rem;
    height: 0.36rem;
}

#open_packet_container {
    position: absolute;
    bottom: 19.5%;
    width: 1.6rem;
    height: 1.6rem;
}