#content {
    height: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}


p{
margin: 0rem;
padding:0rem;
}
.round_icon {
    border: 0.04rem solid rgb(212, 210, 210);
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#money {
    font-size: 0.8rem;
    color: red;
}

#sum {
    margin-top: 0.3rem;
}

dl {
    margin: 0;
    padding: 0;
}

.item_container {
    margin-bottom: 0.1rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    background-color: white;
    height: 1.4rem;
    flex-direction: column;
    display: flex;
}

.item_inner {
    height: 0.7rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#type {
    text-align: center;
    font-size: 0.32rem
}

#item_money {
    text-align: center;
    font-size: 0.32rem;
}